$color-primary: #009faa;
$color-primary-light: #00c0ca;
$color-grey-lighter: #eeeeee;
$color-grey-ligth: #696d79;
$color-grey-dark: #4c5365;
$color-grey-darker: #2c3039;
$color-black: #000;
$color-secondary: #fee97e;
$color-tertiary: #ff664c;
$color-white: #ffffff;

// GRID
$grid-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
