.footer {
  background-color: $color-grey-dark;
  color: $color-grey-lighter;

  font-size: 1.4rem;

  &__navigation {
    display: flex;
    justify-content: flex-end;
  }
  &__copyright {
    display: inline-block;
  }

  &__list {
    list-style: none;
    &:not(:last-child) {
      margin-right: 3rem;
    }
  }

  &__item {
    display: inline-block;
  }

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: $color-grey-lighter;
  }

  &__link:hover {
    svg:first-child {
      fill: $color-tertiary;
    }
  }
}
