.row {
  max-width: $grid-width;

  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
    @include respond(tablet-land) {
      width: 100%;
    }
  }
  .col-1-of-3 {
    width: calc((100% - #{$gutter-horizontal}) / 3);

    @include respond(tablet-land) {
      width: 45%;
    }

    @include respond(tablet-port) {
      width: 55%;
    }
    @include respond(phone) {
      width: 80%;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;

  @include respond(tablet-land) {
    justify-content: space-around;
  }

  @include respond(tablet-port) {
    justify-content: center;
  }

  &--fd-column {
    flex-direction: column;
  }
  &--ai-center {
    align-items: center;
  }
}
