.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-2-round-corners-border {
  border: 0.5rem solid $color-primary;
  border-top-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  padding: 0 3rem;
}

.u-padding-tb-medium {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

.u-skew {
  transform: skewX(-12deg);
}
