.about {
  //background-color: $color-gray-light-1;
  padding: 0 21rem;
  padding-top: 25rem;
  padding-bottom: 10rem;
  margin-top: -20vh;

  @include respond(tablet-land) {
    padding-right: 10rem;
    padding-left: 10rem;
  }
  @include respond(phone) {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

.section-projects {
  background-color: $color-grey-lighter;
  padding-bottom: 10rem;
  padding-top: 10rem;
}

.contact {
  padding-bottom: 10rem;
  padding-top: 10rem;
}
